[submodule "themes/personal-web"]
	path = themes/personal-web
	url = https://github.com/bjacquemet/personal-web.git
[submodule "themes/bootstrap-bp-hugo-startpage"]
	path = themes/bootstrap-bp-hugo-startpage
	url = https://github.com/spech66/bootstrap-bp-hugo-startpage.git
